@import url(https://fonts.googleapis.com/css?family=Roboto:100);

.jumbotron-fluid {
  min-height: 100vh;
  background: radial-gradient(white, hsl(270, 77%, 50%));
  padding: 100px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
p {
  font-family: inherit;
  font-size: 16px;
  font-weight: 100;
}
a {
    color: #c18934;
}
.title {
  color: white;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
}
#streamer-list {
  background: white;
  box-shadow: 0 0 5px 10px white;
  padding: 75px 0;
}
.streamer-info {
  padding: 15px 0;
}
.stream-logo {
  height: 75px;
  margin: auto;
}